<h1 style="text-align:center">LIST OF ALL DEALS</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='burger_deals/new'>+ Add New Deal +</a></li></h2>

  <h3>
    <hr width="50%">
<% for burger_deal in @burger_deals %>
   EATERY: <%= burger_deal.eatery.name %> <br/>
   DAY: <%= burger_deal.days.name %> <br/>
   BURGER: <%= burger_deal.burgers.name %> <br/>
   DEAL: <%= burger_deal.deal_name %>

   <form action="/burger_deals/<%= burger_deal.id %>/edit" method="get">
     <input type="submit" class="delete-button" value="Update Deal">
   </form>
   <form action="/burger_deals/<%= burger_deal.id %>/delete" method="post">
     <input type="submit" class="delete-button" value="Delete Deal">
   </form>

    <hr width="50%">


<% end %>

</h3>
<h2><li style="list-style-type: none;"><a href='burgers_deals/update'>- Update Deals -</a></li></h2>
</div>
