<h1 style="text-align:center">LIST OF ALL DEALS</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='burger_deals/new'>+ Add New Deal +</a></li></h2>
</div>

  <div class="list-update-delete" style="text-align:center">
    <hr width="50%">
<% for burger_deal in @burger_deals %>
   EATERY: <%= burger_deal.eatery.name %> <br/>
   DAY: <%= burger_deal.days.name %> <br/>
   BURGER: <%= burger_deal.burgers.name %> <br/>
   DEAL: <%= burger_deal.deal_name %>

<br/>
   <a href="/burger_deals/<%= burger_deal.id %>/edit">
      <button type="button" name="button">Update Deal</button></a>
   <form action="/burger_deals/<%= burger_deal.id %>/delete" method="post">
     <input type="submit" class="delete-button" value="Delete Deal">
   </form>

    <hr width="50%">


<% end %>

</div>
