<h1 style="text-align:center">LIST OF ALL BURGERS</h1>


<div style="text-align:center">
<h2><li style="list-style-type: none;"><a href='burgers/new'>+ Add New Burger +</a></li></h2>
</div>

  <div class="list-update-delete" style="text-align:center">
    <hr width="50%">
<% for burger in @burgers %>
   EATERY: <%= burger.eatery.name %> <br/> NAME: <%= burger.name %> <br/> PRICE: £<%= burger.price %>

<br/>
   <a href="burgers/<%= burger.id %>/edit">
      <button type="button" name="button">Update Burger</button></a>
    <form action="/burgers/<%= burger.id %>/delete" method="post">
      <input type="submit" class="delete-button" value="Delete Burger">
    </form>

    <hr width="50%">

<% end %>

</div>
